<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt & Care Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adopt_care.css') }}">
</head>
<body>
    <div id="map-container">
        <div id="map"></div>
    </div>

    <script>
        window.catLocations = {{ cat_locations | tojson | safe }};
    </script>

    <script src="{{ url_for('static', filename='js/adopt_care_map.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&libraries=visualization&callback=initMap"></script>
</body>
</html>
